{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} talks & sessions cover a wide range of web technology topics from design, 
        to coding, to deployment, and product data analysis. We encourage you to "think outside the box" 
        to come up with your own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present multiple talks. 
        Therefore <strong></strong>it is advisable to submit a few talk ideas, not just one.</strong> By submitting a single talk 
        you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Design</li>
        <li>CSS</li>
        <li>Javascript (both front-end and server-side)</li>
        <li>JavaScript internals</li>
        <li>Weird places you can run JavaScript</li>
        <li>Framework-related topics (Angular, Ember, React, etc.)</li>
        <li>Data Analytics & Visualization</li>
        <li>Robotics</li>
        <li>Security</li>
        <li>Mobile</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>Accessibility</li>
        <li>User Experience/Usability</li>
        <li>Building APIs</li>
        <li>Continuous Integration</li>
        <li>Developer tools</li>
        <li>Development principles</li>
        <li>Professional development</li>
        <li>Virtualization and environments</li>
    </ul>
</div>
{% endblock %}

